header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#101015;
    width: 100%;
    z-index: 1;
    
    

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        width: 100%;
        padding: 15px;
        color:white;
        z-index: 1;
    }
    .imageNav{
        width: clamp(20px, 1.5vw, 50px);
        height: auto;
    }

    .divUnrealImage{
        display: block;

        .imageUnreal{
            width: clamp(100px, 13vw, 250px);
            height: auto;
        }
        
    }

    .divUnreallogo{
        display: none;

        .imageUnrealLogo{
            width: clamp(30px, 3vw, 100px);
            height: auto;
        }
    }
    

  


    ul{
        display: flex;
        gap: 1vw;

        li,a{
            text-decoration: none;
            font-family: textoRegular;
            font-size: clamp(0.8rem,0.8vw,3rem);
            color: var(--cor-tags-a);
            list-style: none;
            
        }
        li:hover{
            color: var(--cor-tags-a-hover);
        }

        
        
        .conteudo_rotaciona{
            display: flex;
            align-items: center;
            gap: 0.3vw;
            cursor: pointer;

            .seta{
                width: clamp(5px, 0.8vh, 15px);
            }

            
        }                
        .conteudo_rotaciona:hover .seta {
            transform: rotate(180deg);
            transition:0.5s ;
        }
        
        
        
    }

   
    
    .divSobrepoe{
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2vh;
        height: auto;
        background-color: transparent;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index: 3;
        padding: 1vh;
        border-radius: 10px;
        background: var(--cor-fundo-div);
        display: none;
        margin-top: 1.2%;
        opacity: 0;
        box-shadow: 0px 10px 50px;

        a{
            font-family: textoRegular;
            border-radius: 10px;
            padding: 2vh;
            display: flex;
            justify-content: start;
            align-items: center;
            color: white;
        }

        a:hover{
            color: white;
           background-color:var(--cor-tags-a-hover-div);
        }
       
    
    }

    .nav_input{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        gap: 0.7vw;
        padding: 1vw;
        width: clamp(150px, 19vw, 300px);
        border-radius: 20px;
        border: 0.1px solid rgba(255, 255, 255, .15);
       
        height: 35px;
        background-color: rgba(255, 255, 255, .05);

        .input_nav{

            border: none;
           
            
           
            width: 100%;
            height: 4vh;
            border-radius: 20px;
            color: white;
           
            background-color: transparent;
            
            font-size: 13px;
            font-family: textoRegular;
          
        }
        .input_nav:focus {
            border: none;
            outline: none;
          }

    }

   

    svg{
        width: clamp(15px, 1.5vw, 40px);
        height: auto;
        fill: currentcolor;
        
    }

    .button-download,
    .button-entrar {
        border: none;
        font-weight: 500;
        border-radius: 0.3rem;
        width: clamp(50px, 5vw, 120px);
        height: clamp(25px, 3.5vh, 50px);
        font-size: clamp(12px, 0.8vw, 18px);
        font-family: textoRegular;
        cursor: pointer;
    }
    .button-download {
        background-color: var(--cor-botao-azul);
        color: black;
    }

    .button-download:hover{
        background-color: var(--cor-botao-azul-hover);
        transition: 0.1s;
    }
    .button-entrar {
        background-color: var(--cor-botao-cinza);
        color: white;
    }
    .button-entrar:hover{
        background-color: var(--cor-botao-cinza-hover);
        transition: 0.1s;
    }



    @media (max-width: 819px) {
        flex-direction: column;
        align-items: center;
        padding: 5px;

        .nav_input {
            width: 90%;
        }

        ul {
            flex-direction: column;
            align-items: center;
            gap: 2vh;
        }

        .button-download,
        .button-entrar {
            width: 80%;
            font-size: 1rem;
        }

        .divUnrealImage {
            display: none;
        }

        .divUnreallogo {
            display: block;
        }
    }
    @media (max-width: 1200px) {
        max-width: 100%;

        .button-download,
        .button-entrar {
            width: 7vw;
            height: 3.5vh;
            font-size: 1.2vw;
        }

        .nav_input {
            width: 25vw;
        }

        svg {
            width: 2vw;
        }

        .divUnrealImage {
            display: none;
        }

        .divUnreallogo {
            display: block;
        }
    }
}
