header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#101015;
    width: 100%;
    z-index: 1;
    
    

    nav{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
        width: 100%;
        padding: 15px;
        color:white;
        z-index: 1;
    }
    .imageNav{
        width: clamp(30px, 1.5vw, 50px);
        height: auto;
    }


    .Menu-Hamburguer-Botao{
        display: none;
        position: relative;
        background-color: transparent;
        border: none;
        width: clamp(100px, 2vw, 50px);

        svg{
            fill: antiquewhite;
        }

    }
    .Menu-Hamburguer{
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;  
     justify-content: center ; 
        top: 100%;
        left: 0;
        width: 100%;
        height: 0vh;
        background-color:#101015;
        
        
    }

    .svg-pesquisa{

        width: clamp(15px, 5vw, 100px);
        height: auto;

    }

    .Menu-Hamburguer-Nav-SvgeBotao{
        display: flex;
       
        align-items: center;
        justify-content: center;
        gap: 3vw;
    }

    .Menu-Hamburguer-Nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 0vw 10vw;
   
    }

    .Menu-Hamburguer-Nav-botao{
        width: clamp(15px, 10vw, 100px);
    }

    .Menu-Hamburguer-Informacoes{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 10%;

        h1{
            padding: 0vw 10vw;
            font-weight: bold;
            font-size: clamp(15px, 10vw, 100px);
            font-family: textoRegular;
        }
        
       
        
    }



    .Menu-Hamburguer-Footer {
        position: fixed;  
        bottom: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        height: auto;
    }

    .button-entrar-hamburguer{
        border: none;
        font-weight: bold;
        border-radius: 0.3rem;
        width: clamp(40px, 90vw,700px);
        height: clamp(5px, 7vh, 70px);
        font-size: clamp(12px, 4vw, 30px);
        font-family: textoRegular;
        cursor: pointer;
    }

    

    


    .inputs{
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 0.5vh;

        padding: 0vw 10vw;

        a{
            text-decoration: none;
            font-family: textoRegular;
            border-radius: 10px;
            width: 90%;
            padding: 2vh 1vh;
            display: flex;
            justify-content: start;
            align-items: center;
            color: white;
        }

        a:hover{
            color: white;
           background-color:var(--cor-tags-a-hover-div);
        }
    }
    

   

    .Menu-Hamburguer-Botao-Svg{
        width: clamp(30px, 2vw, 50px);
     
        fill: currentcolor;
    }

   

    

    .images-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2vw;
    
    }

    .divUnrealImage{
        display: block;
       

        .imageUnreal{
            width: clamp(30px, 50vw, 250px);
            height: auto;
        }
        
    }
    .svg-Internet{
        width: clamp(15px, 1.5vw, 40px);
        height: auto;
        fill: currentcolor;
    }

    .divUnreallogo{
        display: none;

        .imageUnrealLogo{
            width: clamp(30px, 3vw, 100px);
            height: auto;
        }
    }
    

  
    

    ul{
        display: block;
        display: flex;
        gap: 1vw;

        li,a{
            text-decoration: none;
            font-family: textoRegular;
            font-size: clamp(0.8rem,0.8vw,3rem);
            color: var(--cor-tags-a);
            list-style: none;
            
        }
        li:hover{
            color: var(--cor-tags-a-hover);
        }

        
        
        .conteudo_rotaciona{
            display: flex;
            align-items: center;
            gap: 0.3vw;
            cursor: pointer;

            .seta{
                width: clamp(5px, 0.8vh, 15px);
            }

            
        }                
        .conteudo_rotaciona:hover .seta {
            transform: rotate(180deg);
            transition:0.5s ;
        }
        
        
        
    }


    
    .listaCortada{display: none;}

   
    
    .divSobrepoe{
        transition: 0.2s;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2vh;
        height: auto;
        background-color: transparent;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index: 3;
        padding: 1vh;
        border-radius: 10px;
        background: var(--cor-fundo-div);
        display: none;
        margin-top: 1.2%;
        opacity: 0;
        box-shadow: 0px 10px 50px;

        a{
            font-family: textoRegular;
            border-radius: 10px;
            padding: 2vh;
            display: flex;
            justify-content: start;
            align-items: center;
            color: white;
        }

        a:hover{
            color: white;
           background-color:var(--cor-tags-a-hover-div);
        }
       
    
    }
    

    .nav_input{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        gap: 0.7vw;
        padding: 1vw;
        width: clamp(150px, 19vw, 300px);
        border-radius: 20px;
        border: 0.1px solid rgba(255, 255, 255, .15);
       
        height: 35px;
        background-color: rgba(255, 255, 255, .05);

        .input_nav{

            border: none;
           
            
           
            width: 100%;
            height: 4vh;
            border-radius: 20px;
            color: white;
           
            background-color: transparent;
            
            font-size: 13px;
            font-family: textoRegular;
          
        }
        .input_nav:focus {
            border: none;
            outline: none;
          }

    }

   

    svg{
        width: clamp(15px, 1.5vw, 40px);
        height: auto;
        fill: currentcolor;
        
    }

    .button-download,
    .button-entrar,.Menu-Hamburguer-Nav-botao{
        border: none;
        font-weight: 500;
        border-radius: 0.3rem;
        width: clamp(50px, 5vw, 120px);
        height: clamp(25px, 3.5vh, 50px);
        font-size: clamp(12px, 0.8vw, 18px);
        font-family: textoRegular;
        cursor: pointer;
       
    }
    .button-download,.button-entrar-hamburguer{
        background-color: var(--cor-botao-azul);
        color: black;
    }

    .button-download,.button-entrar-hamburguer:hover{
        background-color: var(--cor-botao-azul-hover);
        transition: 0.1s;
    }
    .button-entrar,.Menu-Hamburguer-Nav-botao {
        background-color: var(--cor-botao-cinza);
        color: white;
    }
    .button-entrar,.Menu-Hamburguer-Nav-botao:hover{
        background-color: var(--cor-botao-cinza-hover);
        transition: 0.1s;
    }



    @media (max-width: 800px) {

        .Menu-Hamburguer-Botao{
            display: block;
        }

        .listaLinks{
            display: none;
        }

        .listaCortada{
            display: block;
        }

        .Menu-Hamburguer{
            display: block;
            justify-content: center;
        }

        .images-nav{

            .divUnreallogo {
                display: none;
             
             }
            .divUnrealImage {
                display: block;
           
            }
           
        }

       

    
        nav{
            gap: 20vw;
        }
        


         .svg-Internet{
        display: none;
            }

        .imageNav{
        
            height: auto;
        }
        

        .nav_input {
            width: 90%;
            display: none;
        }

       

        .svg{
            display: none;
        }

        ul {
            flex-direction: column;
            align-items: center;
            gap: 2vh;
            display: none;
        }

        .button-download,
        .button-entrar {
            width: 80%;
            font-size: 1rem;
            display: none;
        }

        
    }
    @media (max-width: 1440px) {
        

        .Menu-Hamburguer{
            display: none;
        }

        .listaLinks{
            display: none;
        }

        .listaCortada{
            display: block;
        }
        

        .button-download,
        .button-entrar {
            width: 7vw;
            height: 3.5vh;
            font-size: 1.2vw;
        }

        .nav_input {
            width: 25vw;
        }

        svg {
            width: 2vw;
        }

        .divUnrealImage {
            display: none;
        }

        .divUnreallogo {
            display: block;
        }
    }
}
