main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;

}



    .page-container-principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3vh;
        max-height: 100%;
        width: 92vw;
        height: 85vh;
        max-width: 100%;
    
    }
    .container-info{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50vw;
        height: auto;

        gap: 2vw;

        
        

        h1{
            font-family: textoBold;
            font-weight: bold;
            font-size: clamp(1rem, 3vw, 6rem);
            color: white;
        }
        p{
            font-size: clamp(0.1rem,1vw,5rem);
            line-height: 3vh;
            color:white;
            font-family: textoRegular;
        }
        
    }
    

    .container-info-botoes{
        display: flex;
        flex-direction: row;
        gap: 1vw;

        .buttonA,
        .buttonB {
            border-radius: 0.6vw;
            font-weight: 500;
            font-family: textoBold;
            cursor: pointer;
            height: 5vh;
            font-size: clamp(0.8rem, 2vw, 1.2rem);
            max-width: 100%;
        }
        .buttonA {
            background-color: var(--cor-botao-azul);
            color: black;
            border: none;
            width: 13vw;
        }
            .buttonA:hover{
                background-color: var(--cor-botao-azul-hover);
                transition: 0.1s;
            }

            .buttonB {
                background-color: transparent;
                border: 1px solid rgb(196, 196, 196);
                color: white;
                width: 20vw;
            }
                .buttonB:hover{
                    background-color: var(--cor-botao-cinza-hover);
                    transition: 0.1s;
                }
                

    }

    .logo-container-unreal {
        max-width: 100%;
        width: 20vw;
    }

    .container-videos{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 50vw;


        video{
            border-radius: 20px;

        }


    }
    @media (max-width: 1400px) {
        .logo-container-unreal {
            display: none;
        }
    
        .page-container-principal {
            flex-direction: column;
            align-items: center;
            width: 90vw;
            height: auto;
            gap: 10vh;
            margin-top: 10%;
        }
    
        .container-info {
            max-width: 80vw;
            text-align: start;
            gap: 4vh;

            
            h1{
                font-size: clamp(1rem, 6vw, 4rem);
            }
            p {
                font-size: clamp(1rem, 1.3vw, 6rem);
                width: 75%;
            }
            
        }
    
        .container-info-botoes {
            flex-direction: row;
            justify-content: start;
    
            .buttonA{
                width: 30%;
                border-radius: 3%;
            }

            .buttonB {
                width: 40%;
                border-radius: 3%;
            }
        }
    
        .container-videos {
            width: 100%;
        }
    }

    

    @media (max-width: 800px) {
        .page-container-principal {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .container-info {
            width: 90%;
            gap: 3vh;

            h1{
                font-size: clamp(0.9rem, 6vw, 5rem);
            }
    
            p {
                font-size: clamp(0.9rem, 1.5vw, 1.3rem);
            }
        }
    
        .container-info-botoes {
            align-items: start;
            flex-direction: column;
            gap: 1rem;
    
            .buttonA{
                width: 50%;
                height: 4vh;
            }
            .buttonB{
                width: 80%;
                height: 4vh;
            }
            
        }
    
        .container-videos {
            width: 90%;
            video {
                width: 100%;
            }
        }
    }

    @media (max-width: 355px) {
        .page-container-principal {
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .container-info {
            width: 90%;
            gap: 3vh;

            h1{
                font-size: clamp(0.9rem, 6vw, 5rem);
            }
    
            p {
                font-size: clamp(0.9rem, 1.5vw, 1.3rem);
            }
        }
    
        .container-info-botoes {
            align-items: start;
            flex-direction: column;
            gap: 1rem;
    
            .buttonA{
                width: 50%;
                height: 6vh;
            }
            .buttonB{
                width: 80%;
                height: 6vh;
            }
            
        }
    
        .container-videos {
            width: 90%;
            video {
                width: 100%;
            }
        }
    }
    













