@import url('./header.css');
@import url('./section-video.css');

*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: TituloBold;
    src: url('../assets/fonts/InterTight-Black.2e10fd2f.woff2');
}

@font-face {
    font-family: textoBold;
    src: url('../assets/fonts/Inter-Medium.dc792b50.woff2');
}
@font-face {
    font-family: textoRegular;
    src: url('../assets/fonts/Inter-Regular.f1f0c35b.woff2');
}

:root{
    --cor-botao-azul:#26bbff;
    --cor-botao-azul-hover:#71d2ff;
    --cor-tags-a:white;
    --cor-tags-a-hover:rgb(139, 139, 139);
    --cor-fundo-div:#27282D;
    --cor-tags-a-hover-div:#48484C;
    --cor-botao-cinza:rgba(255, 255, 255, .15);
    --cor-botao-cinza-hover:rgba(255, 255, 255, 0.37);
    --cor-gradiente-fundo:linear-gradient(to left, #0E0F14,#0E0F14  ,#251628, #1B2037, #0E0F14,#0E0F14  );

}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100vw;  
    height: auto;
    background-image:var(--cor-gradiente-fundo);
    background-position: center;

}

@media (min-width: 720px) and (max-width: 1200px) {
    body{
        height: auto;
    }

}

@media (min-width: 320px) and (max-width: 710px) {
    body{
        height: auto;
    }
}
           
           

           


